
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

body {
    background-color: #ffe6f0; 
    font-family: 'Source Code Pro', monospace; 
    color: #d81b60;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body::before {
    content: '💕 💖 💕';
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    z-index: -1; 
}

h1, h2, h3 {
    color: #d81b60; 
    font-family: 'Source Code Pro', monospace; 
}


input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ff80ab;
    border-radius: 8px;
    width: 70%;
    margin-bottom: 15px;
    font-family: 'Source Code Pro', monospace;
    background-color: #fce4ec; 
    color: #d81b60; 
}

.centered-content {
    text-align: center;
    margin-top: 20px;
}


.vibe-selection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  flex-direction: column;
  text-align: center;
}


button {
  background-color: #f48fb1; 
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Source Code Pro', monospace;
  margin: 10px; 
}

button:hover {
  background-color: #ff4081;
}



.avatar-container {
  text-align: center;
  margin: 20px 0;
}

.avatar-image {
  width: 50px; 
  height: auto;
  border-radius: 50%; 
  border: 3px solid #ff80ab; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}


.avatar-image:hover {
  transform: scale(1.2); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
  border-color: #ff4081; 
}
